[Desktop Entry]
Name=Eqk
GenericName=Eqk
Comment=
Exec=eqk
Icon=eqk
Terminal=true
PrefersNonDefaultGPU=true
Type=Application
Categories=Utilites
StartupNotify=false
Keywords=earthquake
